<div class="sidebar__header-logo">The University of Queensland</div>
<hr>
<div>
  <ul class="sidebar__menu">
    {{#each menuItems as |item|}}
    <li>
      {{#link-to item.route class="menu__link" }}<span class="icon icon-{{item.icon}}" role="presentation"></span>{{item.name}}{{/link-to}}
    </li>
    {{/each}}
  </ul>
</div>
{{yield}}