{{#if session.isAuthenticated}}
<span class="page__header-greeting">Welcome, {{sessionData.tokenData.username}}</span> <span class="page__header-user-name">Sign-out</span> <a {{ action 'invalidateSession' }} class="action action--circle action--logout right"><span class="icon icon-lock"></span></a>
{{else}}
<span class="page__header-user-name">Login</span> {{#link-to 'login' class="action action--circle action--logout right"}}<span class="icon icon-lock"></span>{{/link-to}}
{{/if}}
{{yield}}