{{log session}}
{{sessionData}}
<span class="page__header-greeting">Welcome,</span> <span class="page__header-user-name">Todo Sign-out</span> <a href="#" class="action action--circle action--logout right"><span class="icon icon-lock"></span></a>
{{yield}}