
<div class="muuri-grid">
{{#each characters as |character|}}
  <div class="item">
    <div class="item-content card">
      <div class="card-divider">
        {{character.name}}
      </div>
      <img src={{character.thumbnail}} style="width: 100%;">
      <div class="card-section">
        {{character.description}}
      </div>
    </div>
  </div>
{{/each}}
</div>

{{yield}}