<div class="row small-collapse" data-equalizer>
  <div class="show-for-medium-up sidebar">
    <div class="sidebar__content">
      {{application-menu menuItems=model.menuItems}}
    </div>
  </div>
  <div class="main-content">
    {{outlet}}
  </div>
</div>