<div class="app-container row small-collapse" data-equalizer>
  <div class="show-for-medium-up sidebar" data-equalizer-watch>
    <div class="sidebar__content">
      {{sidebar-component menuItems=model.menuItems}}
    </div>
  </div>
  <div class="main-content" data-equalizer-watch>
    {{outlet}}
  </div>
</div>