<div class="page__header--desktop show-for-medium-up">
  <div class="page__header-login-logout">
    <div class="row">
      <div class="large-12 column">
        <div class="row">
          <span class="page__header-greeting">Welcome,</span> <span class="page__header-user-name">Todo Sign-in</span> <a href="#" class="action action--circle action--logout right"><span class="icon icon-lock"></span></a>
        </div>
        <div class="row">
          <div class="page__header-page-title">
            <a href="#"><span class="icon icon-smile-o icon--prefix"></span>Characters</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page__content">
  <div class="row">
    <div class="large-12 column">
      <div class="section">
        <div class="section__header">
          <h3 class="section__title">Section title</h3>
        </div>
      </div>
      <div class="section__content">

        {{#each model as |character|}}
          <div>
            ID: {{character.id}}<br>
            {{character.name}}<br>
            {{character.description}}
          </div>
        {{/each}}

        <p>Maecenas faucibus mollis interdum. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui. Vivamus sagittis lacus vel augue laoreet rutrum faucibus dolor auctor. Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Donec sed odio dui.</p>


        {{outlet}}

      </div>
    </div>
  </div>
</div>
