<div class="row center-panel">
  <div class="columns">
    <div class="panel panel--dark">
      <div class="column small-12">
        <h2 class="panel__title">Welcome to MarvelFrontend</h2>
        <div class="panel__content">
          Please select either characters or favourites.
        </div>
        {{#link-to "characters" class="button button--tertiary"}}Characters{{/link-to}}
        {{#link-to "favourites" class="button button--tertiary"}}Favourites{{/link-to}}
      </div>
    </div>
  </div>
</div>
{{outlet}}