<div class="page__header--desktop show-for-medium-up">
  <div class="page__header-login-logout">
    <div class="row">
      <div class="large-12 column">
        <div class="row">
          <span class="page__header-greeting">Welcome,</span> <span class="page__header-user-name">Todo Sign-out</span> <a href="#" class="action action--circle action--logout right"><span class="icon icon-lock"></span></a>
        </div>
        <div class="row">
          <div class="page__header-page-title">
            <a href="#"><span class="icon icon-lock icon--prefix"></span>Login</a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="page__content">
  <div class="row">
    <div class="large-12 column">
      <div class="section__content margin-12">
        {{#if fieldErrors}}
        <div class="panel panel--alert-error">
          <div class="column small-12">
            <div class="panel__content">Username or password is not valid. Please try again.</div>
          </div>
        </div>
        {{/if}}
        <form {{action 'authenticate' on='submit'}}>
          <fieldset>
            <label for="username">Username</label>
            {{input id='username' placeholder='Enter Username' value=username}}
            <label for="password">Password</label>
            {{input id='password' placeholder='Enter Password' type='password' value=password}}
            <button type="submit" class="btn btn-primary">Login</button>
          </fieldset>
        </form>
      </div>
    </div>
  </div>
</div>



